@model JackHenryTwitter.Models.TweetStats

<style>
    dt {
        width: 300px;
    }
</style>
<div style="width:100%;">
    @if (Model != null)
    {
        var urlCount = Model.TopUrlDomainList != null ? Model.TopUrlDomainList.Count : 0;
        var emojiCount = Model.TopEmojisList != null ? Model.TopEmojisList.Count : 0;
        var hashtagCount = Model.TopHashtagList != null ? Model.TopHashtagList.Count : 0;
        <h3>Totals</h3>
        <dl class="dl-horizontal">
            <dt>
                Total Accumulated Tweets Received
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalTweetsReceived)
            </dd>

            <dt>
                Total Accumulated Download Time in Seconds
            </dt>

            <dd>
                @{
                    var totalDownloadTimeInSeconds = Model.TotalDownloadTimeInMiliSeconds / 1000;
                }
                @totalDownloadTimeInSeconds
            </dd>

            <dt>
                Total Tweets With Emojis
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TweetsWithEmojiCount)
            </dd>

            <dt>
                Total Accumulated Tweets With Photo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalTweetsWithPhoto)
            </dd>

            <dt>
                Total URLs in in Tweets
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalUrlsInTweets)
            </dd>

            <dt>
                Total Tweets With URLs
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TweetsWithUrlsCount)
            </dd>

            <dt>
                Total Hashtags in Tweets
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalHashTagsInTweets)
            </dd>

            <dt>
                Total Tweets With Hashtags
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TweetsWithHashTagsCount)
            </dd>
        </dl>

        <h3>Averages</h3>
        <dl class="dl-horizontal">
            <dt>
                Average TweetsReceived Per Hour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerHour)
            </dd>

            <dt>
                Average Tweets Received Per Minute
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerMinute)
            </dd>

            <dt>
                Average Tweets Received Per Second
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerSecond)
            </dd>
        </dl>
        <h3>Percentages</h3>
        <dl class="dl-horizontal">
            <dt>
                % Tweets With Emojis
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithEmojis)%
            </dd>

            <dt>
                % Tweets With a Photo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithPhoto)%
            </dd>

            <dt>
                % Tweets With a Url
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithUrl)%
            </dd>
        </dl>
        <div class="row">
            <div class="col-lg-4">
                <h3>Top @urlCount Domain(s)</h3>
                <table style="width:30%">
                    <thead>
                        <tr><th>URL</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopUrlDomainList != null)
                    {
                        foreach (var item in Model.TopUrlDomainList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <h3>Top @emojiCount Emojies</h3>
                <table style="width:30%">
                    <thead>
                        <tr><th>Emoji</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopEmojisList != null)
                    {
                        foreach (var item in Model.TopEmojisList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emoji.EmojiImage)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.EmojiCount)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <h3>Top @hashtagCount Hashtag(s)</h3>
                <table style="width:40%">
                    <thead>
                        <tr><th>Hashtag</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopHashtagList != null)
                    {

                        foreach (var item in Model.TopHashtagList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <span>There currently is no statistic data available. Click the Load More Tweets to get data for this report.</span>
    }
</div>