@model JackHenryTwitter.Models.TweetStats

<style>
    dt {
        width: 300px;
    }
</style>
<div style="width:100%;">
    <h4>Tweet Stats</h4>
    @if (Model != null)
    {
        var urlCount = Model.TopUrlDomainList != null ? Model.TopUrlDomainList.Count : 0;
        var emojiCount = Model.TopEmojis != null ? Model.TopEmojis.Count : 0;
        var hashtagCount = Model.TopHashtagList != null ? Model.TopHashtagList.Count : 0;

        <dl class="dl-horizontal">
            <dt>
                Total Accumulated Tweets Received
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalTweetsReceived)
            </dd>

            <dt>
                Total Accumulated Download Time in Seconds
            </dt>

            <dd>
                @{
                    var totalDownloadTimeInSeconds = Model.TotalDownloadTimeInMiliSeconds / 1000;
                }
                @totalDownloadTimeInSeconds
            </dd>

            <dt>
                Average TweetsReceived Per Hour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerHour)
            </dd>

            <dt>
                Average Tweets Received Per Minute
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerMinute)
            </dd>

            <dt>
                Average Tweets Received Per Second
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AverageTweetsReceivedPerSecond)
            </dd>

            <dt>
                Total Accumulated Tweets With Emojis
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TweetsWithEmojiCount)
            </dd>

            <dt>
                % Tweets With Emojis
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithEmojis)%
            </dd>

            <dt>
                Total Accumulated Tweets With Photo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalTweetsWithPhoto)
            </dd>

            <dt>
                % Tweets With Photo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithPhoto)%
            </dd>

            <dt>
                Total Accumulated Tweets With URLs
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalUrlsInTweets)
            </dd>

            <dt>
                % Tweets With Url
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PctTweetsWithUrl)%
            </dd>
        </dl>
        <div class="row">
            <div class="col-lg-4">
                <h3>Top @urlCount URLs</h3>
                <table style="width:30%">
                    <thead>
                        <tr><th>URL</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopUrlDomainList != null)
                    {
                        foreach (var item in Model.TopUrlDomainList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Domain)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.DomainCount)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <h3>Top @emojiCount Emojies</h3>
                <table style="width:30%">
                    <thead>
                        <tr><th>Emoji</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopEmojis != null)
                    {
                        foreach (var item in Model.TopEmojis)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emoji.EmojiImage)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.EmojiCount)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <h3>Top @hashtagCount Hashtags</h3>
                <table style="width:40%">
                    <thead>
                        <tr><th>Hashtag</th><th>Count</th></tr>
                    </thead>
                    @if (Model.TopHashtagList != null)
                    {

                        foreach (var item in Model.TopHashtagList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hashtag)
                                </td>
                                <td style="padding-left:10px;">
                                    @Html.DisplayFor(modelItem => item.HashtagCount)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <span>There currently is no statistic data available. Click the Load More Tweets to get data for this report.</span>
    }
</div>